<Html>  
<head>   
<title>  
Register PV  
</title>  
</head>  
<body style="background-color:LightGray;" >    
<h1 style="font-size:30px;">Registration PV</h1>

<form method=GET action="registerPV.py">  

<label> Manufacturer </label>         
<input type="text" name="manufacturer" size="15"/> <br> <br>  
<label> Location: </label>     
<input type="text" name="location" size="15"/> <br> <br>  
<label> Contact: </label>         
<input type="text" name="Contact" size="15"/> <br> <br>  
  Address  
<br>  
<textarea cols="80" rows="5" value="address">  
</textarea>  
<br>
<br> 
Email:  
<input type="email" id="email" name="email"/> <br>    
<br>   

<label>   
Phone :  
</label>  
<input type="text" name="country code"  value="+1" size="2"/>   
<input type="text" name="phone" size="10"/> <br> <br>  
  
  <label>   
Model Number :  
</label>  
  
<input type="Number" name="mnumber" size="10"/> <br> <br> 
 

  <label>   
Module total length x width (cm x cm):  
</label>  
  
<input type="text" name="mtotal" size="10"/> <br> <br> 
  <label>   
Module weight (kg) :  
</label>  
  
<input type="Number" name="mweight" size="10"/> <br> <br> 
  <label>   
Individual cell Area (cm2
)  :  
</label>  
  
<input type="Number" name="cellarea" size="10"/> <br> <br> 
<input type="submit" value="Submit"/> 
</form>  

</body>  
</html>  