<Html>  
<head>   
<title>  
Registration Page  
</title>  
</head>  
<body style="background-color:LightGray;" >    
<h1 style="font-size:30px;">Registration Form</h1>

<form method=GET action="insert_into_mysql.py">  

<label> Firstname </label>         
<input type="text" name="firstname" size="15"/> <br> <br>  
<label> Middlename: </label>     
<input type="text" name="middlename" size="15"/> <br> <br>  
<label> Lastname: </label>         
<input type="text" name="lastname" size="15"/> <br> <br>  
  <label> Company Name: </label>         
<input type="text" name="companyname" size="15"/> <br> <br>  
<label> Company Type: </label>         
<input type="text" name="companytype" size="15"/> <br> <br>  


<label>   
Office Phone :  
</label>  
<input type="text" name="office ccode"  value="+1" size="2"/>   
<input type="text" name="ophone" size="10"/> <br> <br>  
Cell Phone Number :  
</label>  
<input type="text" name="cell ccode"  value="+1" size="2"/>   
<input type="text" name="cphone" size="10"/> <br> <br>  
Address  
<br>  
<textarea cols="80" rows="5" value="address">  
</textarea>  
<br>
<br> 
Email:  
<input type="email" id="email" name="email"/> <br>    
<br>   
Password:  
<input type="Password" id="pass" name="pass"> <br>   
<br> 
Re-type password:  
<input type="Password" id="repass" name="repass"> <br> <br>  
<input type="submit" value="Submit Form"/>  
</form>  

</body>  
</html>  