{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Solar PV - Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/validation.js' %}"></script>
    <link rel="apple-touch-icon" href="{% static 'img/logo.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Load Require CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% static 'css/boxicon.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="index.html">
                <img class="logo" src="{% static 'img/logo.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                <div class="flex-fill mx-xl-5 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'certificate' %}">Testing & Certification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <a class="nav-link" href="#"><i class='bx bx-bell bx-sm bx-tada-hover text-primary'></i></a>
                    <a class="nav-link" href="#"><i class='bx bx-cog bx-sm text-primary'></i></a>
                    <a class="nav-link" href="registration.html"><i class='bx bx-user-circle bx-sm text-primary'></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->

<!-- Start Contact Form -->
<div class="col-lg-12 p-4">
    <h2 class="text-center my-4 text-secondary">Solar PV</h2>
    <form name="registration" class="contact-form row" method="post" onSubmit="return formValidation();" role="form">

        <div class="col-12 ">
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="User" placeholder="User">
                <label for="floatingname light-300">User</label>
            </div>
        </div><!-- End Input Name -->
        <div class="col-12">
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="Client" placeholder="Client">
                <label for="floatingname light-300">Client</label>
            </div>
        </div><!-- End Input Name -->

     <div class="col-12">
          <label for="cars"> Location: </label>
         
         <br>
         <div class="form-floating mb-4">
      
  <select  name="cars" id="cars">
    <option value="Tempe">Tempe</option>
    <option value="Mesa">Mesa</option>
    <option value="Phoniex">Phoniex</option>
    <option value="Gilbert">Gilbert</option>
    <option value="Scottsdale">Scottsdale</option>
    <option value="Grand Canyon">Grand Canyon</option>
    <option value="Chandler">Chandler</option>
    <option value="Peoria">Peoria</option>
    <option value="Kingman">Kingman</option>
     </select>
 </div>
</div>

        <div class="col-12 ">
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="Service" placeholder="Service">
                <label for="floatingname light-300">Service</label>
            </div>
        </div><!-- End Input Name -->

        <div class="col-12 ">
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="Test Standard" placeholder="Test Standard">
                <label for="floatingname light-300">Test Standard</label>
            </div>
        </div><!-- End Input Name -->

        <div class="col-12 ">
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="Product" placeholder="Product ">
                <label for="floatingname light-300">Product</label>
            </div>
        </div><!-- End Input Name -->

        <div class="col-12 ">
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="Performance Data" placeholder="Performance Data ">
                <label for="floatingname light-300">Performance Data
            </label>
            </div>
        </div>

              <div class="col-12 ">
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="Test Sequence" placeholder="Test Sequence ">
                <label for="floatingname light-300">Test Sequence
            </label>
            </div>
        </div>

          <div class="col-12 ">
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="Product Factory
" placeholder="Product Factory">
                <label for="floatingname light-300">Product Factory

            </label>
            </div>
        </div>
        
 <div class="col-12 ">

  <input type="checkbox" id="scales" name="scales"
         checked>
  <label for="scales">Certificate</label>
  
</div>
<br>
<br>

         <div class="col-12 ">
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="Factory Inspection
" placeholder="Factory Inspection">
                <label for="floatingname light-300">Factory Inspection
            </label>
            </div>
        </div>
  
<div class="col-12 ">
            <div class="form-floating mb-4">
                <input type="text" class="form-control form-control-lg light-300" id="floatingname" name="Expertise
" placeholder="Expertise">
                <label for="floatingname light-300">Expertise
            </label>
            </div>
        </div>

        
        <div class="col-md-12 col-12 m-auto text-center mt-4">
            <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-600">Submit</button>
        </div>

    </form>
</div>
<!-- End Contact Form -->

    <!-- Start Footer -->
    <footer class="bg-secondary pt-4">
        <div class="container">
            <div class="row py-4">

                <div class="col-lg-3 col-12 align-left">
                    <a class="navbar-brand" href="index.html">
                        <img class="logo-small" src="{% static 'img/logo.png' %}" alt="logo">
                    </a>
                    <p class="text-light my-lg-4 my-2">
                        Stay connected with us on social media for the latest updates.
                    </p>
                    <ul class="list-inline footer-icons light-300">
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="http://facebook.com/">
                                <i class='bx bxl-facebook-square bx-md'></i>
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.linkedin.com/">
                                <i class='bx bxl-linkedin-square bx-md'></i>
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.whatsapp.com/">
                                <i class='bx bxl-whatsapp-square bx-md'></i>
                            </a>
                        </li>
                        <li class="list-inline-item m-0">
                            <a class="text-light" target="_blank" href="https://www.instagram.com/">
                                <i class='bx bxl-instagram bx-md'></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h3 class="h4 pb-lg-3 text-light light-300">Our Company</h2>
                        <ul class="list-unstyled text-light light-300">
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light" href="index.html">Home</a>
                            </li>
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="about.html">About Us</a>
                            </li>
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="work.html">Work</a>
                            </li>
                            <li class="pb-2">
                                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="contact.html">Contact</a>
                            </li>
                        </ul>
                </div>

                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h2 class="h4 pb-lg-3 text-light light-300">Our Works</h2>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Branding</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                    <h2 class="h4 pb-lg-3 text-light light-300">For Client</h2>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1" href="mailto:info@solarpv.com">info@solarpv.com</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    <!-- End Footer -->


    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Load jQuery require for isotope -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Isotope -->
    <script src="{% static 'js/isotope.pkgd.js' %}"></script>
    <!-- Page Script -->
    <script>
        $(window).load(function() {
            // init Isotope
            var $projects = $('.projects').isotope({
                itemSelector: '.project',
                layoutMode: 'fitRows'
            });
            $(".filter-btn").click(function() {
                var data_filter = $(this).attr("data-filter");
                $projects.isotope({
                    filter: data_filter
                });
                $(".filter-btn").removeClass("active");
                $(".filter-btn").removeClass("shadow");
                $(this).addClass("active");
                $(this).addClass("shadow");
                return false;
            });
        });
    </script>

    <!-- Custom -->
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>